:root {
    --dark:#01162b;
    --blue:#00385a;
    --soft:#6a90b4;
    --light:#94a2bf;
}

body {
    margin:0;
    font-family:sans-serif;
    background:linear-gradient(135deg,var(--dark),var(--blue));
    color:white;
}

/* NAVBAR */
table {
    margin:20px auto;
    background:rgba(255,255,255,0.05);
    border-radius:10px;
}

/* BOX */
.container {
    width:400px;
    margin:50px auto;
    padding:30px;
    border-radius:20px;
    background:rgba(255,255,255,0.05);
}

/* INFO */
.info p {
    margin:10px 0;
    padding:15px;
    border-radius:10px;
    background:rgba(255,255,255,0.05);
}